@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&family=Shantell+Sans:ital,wght@0,300;1,300&display=swap');

/* 초기화와 컨테이너 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 1200px;
    margin: 0 auto;
}

a, a:link {
    text-decoration: none;
    color: #000;
}

/* 헤더라인 (로고, 상단 네비게이션, 제목) */
header {
    height: 150px;
}

#logo {
    width: 300px;
    height: 100%;
    float: left;
    padding: 20px;
    display: flex;
    align-items: center;
}

#logoImage {
    height: 100%;
}

#logo > a > h1 {
    display: inline;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-left: 30px;
    color: #111;
}

header > nav {
    padding-top: 10px;
    width: 900px;
    height: 20%;
    float: left;
}

header > nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 500px;
    float: right;
}

header > nav > ul > a{
    display: inline-block;
}

header > nav > ul > a > li {
    color: #555;
    font-size: 14px;
}

#title {
    width: 900px;
    height: 80%;
    float: left;
    display: flex;
    align-items: center;
}

#title h1 {
    font-size: 32px;
    margin-left: 180px;
}

/* 왼쪽 링크 목록과 네이게이션 */
#container > nav {
    background-color: chartreuse;
    width: 200px;
    height: 600px;
    float: left;
}

article {
    background-color: darkorange;
    width: 850px;
    height: 600px;
    float: left;
}

aside {
    background-color: darkmagenta;
    width: 150px;
    height: 600px;
    float: right;
}

footer {
    background-color: deeppink;
    height: 150px;
    clear: both;
}